#login button {
  display: block;
  margin: auto;
}

#login input {
  font-size: 15px;
  margin: 0 auto 15px;
  padding: 10px;
  display: block;
  border: 1px solid black;
  width: 20pc;
  border-radius: 15px;
}

#login input:hover, #login input:focus {
  background-color: #979797;
}

#login:first-child {
  margin-top: 35px;
}

button {
  border-radius: 30px;
  height: 70px;
  width: 55%;
  background-color: #979797;
  color: white;
  border: none;
  font-size: 45px;
}

button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

#login {
  text-align: center;
}


/* checkbox stuff */

/* The container */
.container {
  display: block;
  position: relative;
  padding-right: 95px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color:white;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 320px;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 7px;
  top: 5px;
  width: 3px;
  height: 5px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}